.search_field {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 3rem;
}

.search_field div {
  display: flex;
  justify-items: center;
}

.search_field input {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid var(--textColor);
  color: var(--textColor);
  font-size: var(--font16);
}

.search_field input:focus {
  outline: none;
}

.search_btn {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--bgColor);
  background-color: var(--textColor);
  padding: 1.5rem 3rem;
  letter-spacing: .2rem;
  font-size: var(--font12);
}

.search_btn:hover {
  background-color: var(--hoverColor);
}