.top_nav_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bgExColor);
  color: var(--textColor);
}

.top_nav_div p {
  font-size: 1.4rem;
  line-height: 0;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.social_icon_div a {
  color: var(--textColor);
  font-size: 1.2rem;
  margin-left: .5rem;
}

.social_icon_div a:hover {
  color: var(--hoverColor);
  line-height: 0;
}


/* main nav */
.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--bothGaps);
  min-height: 8vh;
  height: 8vh;
}

.logo {
  font-size: 2.4rem;
  line-height: 0;
  font-weight: 500;
  letter-spacing: .1rem;
  color: var(--textColor);
}

.logo span {
  font-weight: 700;
  color: var(--hoverColor);
}

.logo span b {
  font-size: 4rem;
}

.main_nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.main_nav ul li {
  margin-left: 2.5rem;
  color: var(--textColor);
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-size: var(--fontMenu);
  font-weight: 500;
}

.main_nav ul li:hover {
  color: var(--hoverColor);
}

.btn_normal {
  text-decoration: none;
  font-size: var(--btnSize);
  text-transform: uppercase;
  color: var(--bgColor);
  background-color: var(--textColor);
  padding: var(--btnGaps);
  font-weight: 500;
  letter-spacing: .1rem;
}

.btn_normal:hover {
  background-color: var(--hoverColor);
}

.btn_outline {
  text-decoration: none;
  font-size: var(--btnSize);
  text-transform: uppercase;
  color: var(--textColor);
  font-weight: 500;
  letter-spacing: .1rem;
  border: .1rem solid var(--textColor);
  padding: var(--btnGaps);
}

.btn_outline:hover {
  border: .1rem solid var(--hoverColor);
  background-color: var(--hoverColor);
  color: var(--darkBgColor);
}

/* drop down menu */
.dropdown{
  position: relative;
  display: inline-block;
  width: 100%;
}

#tech:hover #tech_menu{
  display: grid;
}

#prog:hover #prog_menu{
  display: grid;
}

#search:hover #search_f{
  display: grid;
}

.search_field{
  display: none;
  justify-items: center;
  align-items: center;
  padding-top: 3rem;
  position: absolute;
}

.search_field div{
  display: flex;
  justify-items: center;
}

.search_field input{
  border: none;
  background-color: transparent;
  border-bottom: 2px solid var(--textColor);
  color: var(--textColor);
  font-size: var(--font16);
}

.search_field input:focus{
  outline: none;
}

.search_btn{
  text-decoration: none;
  color: var(--bgColor);
  background-color: var(--textColor);
  padding: .8rem 1.6rem;
}

.search_btn:hover{
  background-color: var(--hoverColor);
}

.dropdown_menu{
  padding-top: 3rem;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--bgColor);
  width: 30rem;
  z-index: 1;
}

.dropdown_menu .sub_menu:hover{
  color: var(--hoverColor);
}

.sub_menu{
  text-decoration: none;
  line-height: 3rem;
  width: 100%;
}

.menu_flex{
  color: var(--textColor);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.menu_flex:hover{
  color: var(--hoverColor);
}

/* #tech:hover .dropdown_menu{
  display: block;
} */

/* .dropdown_menu{
  display: none;
}

.dropdown_menu ul {
  list-style-type: none;
}

.dropdown_menu ul li {
  color: var(--textColor);
  letter-spacing: .1rem;
  text-transform: uppercase;
  font-size: var(--fontMenu);
  font-weight: 500;
} */